<div class="pattern">

p(feedback). "tell me about this pattern":mailto:jeremy.lightsmith@gmail.com?subject=Feedback:<%= pattern.symbol %> !img/feedback.png!

<div class="category"><%= pattern.category %></div>
<h2><%= pattern.name %></h2>
<div class="story">

<%= pattern.story %>


</div>

% if pattern.example?
<div class="example">

<%= pattern.example %>
  
</div>
% end

<div class="summary">

<%= pattern.summary %>

</div>

% if pattern.todo?
<div class="todo">

<%= pattern.todo %>

</div>
% end

<div class="problem">

<%= pattern.problem %>

</div>
% if pattern.answer?

<div class="therefore">Therefore:</div>

<div class="answer">

<%= pattern.answer %>

</div>
% end

<div class="details">

<%= pattern.details %>

</div>

% if pattern.variation?
<div class="variation">
<h3>Variations</h3>

<%= pattern.variation %>

</div>
% end
% unless pattern.credits.blank?
<div class="credits">
<h3>Credit to</h3>

<%= pattern.credits %>

</div>
% end

</div>