<style type="text/css" media="screen">
  #content-right {
    display: none;
  }
  #content-left {
    width: 900px;
  }
  .pass { background-color: #dfd;}
  .fail { background-color: #fdd;}
  .attention { background-color: #ee6;}
</style>

% columns = %w(name category summary example details variation dont_forget problem answer credits story todo)
<table>
  <tr>
    <th>#</th>
    <% columns.each do |c| %>
      <th><%= c.titleize %></th>
    <% end %>
  </tr>
  
% patterns.by_category.each do |category, patterns|
% patterns.each_with_index do |pattern, i|
  <tr>
    <td><%= i + 1 %>.</td>
    <td><a href="<%= pattern.symbol %>.html"><%= pattern.name %></a></td>
    <td><%= pattern.category %></td>
%   columns[2..-2].each do |field|
%     if pattern.send((field + "?").to_sym)
        <td class="pass"><%= pattern.send(field.to_sym).split.size%></td>
%     else
        <td class="fail">-</td>
%     end
%   end
%   if pattern.todo?
      <td class="attention">*</td>
%   else
      <td>-</td>
%   end
  </tr>
% end
% end
</table>
